body,html{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
/* -------------------- Gradient Text -------------------- */
.text{
    font-size: 50px;
    font-weight: 800;
    outline: none;
    background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation: animate 10s linear infinite;
    display: flex;
    justify-content: center;
}
@keyframes animate {
    to{
        background-position: 400%;
    }
}
@media screen and (max-width: 768px){
    .text{
        background-color: black;
        font-size: 40px;

    }
}
/* -------------------- Gradient Text -------------------- */



/* -------------------- Gradient Text -------------------- */
.container{
    border: 2px solid red;
    height: 20vh;
    margin-top: 10px;
    padding: 20px;
}
/* -------------------- Gradient Text -------------------- */





