* {
    margin: 0;
    padding: 0;
}
body{
    background-image:url(images/2.jpg);
    color: white;
    font-size: 30px;
}
.text {
    margin-top: 9px;
    font-size: 50px;
    font-weight: 800;
    outline: none;
    text-transform: uppercase;
    background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
    display: flex;
    justify-content: center;
}

@keyframes animate {
    to {
        background-position: 400%;
    }
}

input {
    height: 30px;
    border-radius: 10px 0px;
    padding: 5px;
    font-size: 20px;
    border: 1px solid grey;
    outline: none;
    text-align: center;
    font-weight: bold;
}

button {
    position: relative;
    height: 60px;
    width: 200px;
    border: none;
    outline: none;
    color: white;
    background: #111;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    margin: 20px 0px;
}

button:before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite;
}

button:hover:before {
    opacity: 1;
}

button:hover:active {
    background: none;
}

button:hover:active:before {
    filter: blur(2px);
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
.black{
    background-color: white;
    border-radius: 10px;
    text-align: center;
}